

.h1 {
  margin: 40px 0;
  font-size: 3em;
}

.h2 {
  margin: 40px 0;
  /*font-size: em;*/
}

.main-content {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

@media only screen and (min-device-width: 700px) {
  .main-content {
    max-width: 600px;
  }

}



.links {

}

.about-me {

}
